# =====================
# Dependencies
# =====================
node_modules/

# =====================
# Environment variables
# =====================
.env
.env.local

# =====================
# Databases
# =====================
*.sqlite
*.sqlite3
*.db

# =====================
# Build outputs
# =====================
dist/
build/

# =====================
# Logs
# =====================
*.log

# =====================
# IDE / Editor
# =====================
.vscode/
.idea/

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db
